:root {
  --main-color: #1D1D1D;
  --text-color: #fff;
  --btn-color: #393939;
  --btn-color-hover: #505050;
}

body {
  font-family: 'Raleway', arial, sans-serif;
  font-style: 800;
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
}

input {
  height: 50px;
  margin: 10px;
  text-align: center;
}

input[placeholder] {
  font-size: 16px;
}

input[type=submit], input[type=button] {
  width: 200px;
  background-color: var(--btn-color);
  font-size: 1.25em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

input[type=button]:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: #bdc3c7;
}

.hidden {
	display: none;
}

table {
	border: 1px solid white;
	border-spacing: 0px;
}

td, th {
	margin: 3px;
	padding: 3px;
	border: 1px solid white;
} 
